body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 600px;
	text-align: center;
}

h2 {
	color: #333;
	font-size: 1.8em;
	margin-bottom: 20px;
}

h3 {
	color: #333;
	font-size: 1.4em;
	margin-bottom: 10px;
}

p {
	font-size: 1.1em;
	color: #333;
	margin-bottom: 10px;
}

.resultado {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-top: 30px;
}

table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
	padding: 12px;
	text-align: left;
	border: 1px solid #ddd;
	font-size: 1.1em;
}

th {
	background-color: #f2f2f2;
}

td {
	background-color: #f9f9f9;
}

td button {
	background-color: #f44336;
	color: white;
	border: none;
	cursor: pointer;
	padding: 6px 10px;
	border-radius: 5px;
}

td button:hover {
	background-color: #e53935;
}

.erro {
	color: red;
	background-color: #f2dede;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
}

.success {
	color: green;
	background-color: #dff0d8;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
}